.con{
    margin-top: 50px;
    margin-bottom: 15px;
    padding: 100px;
    background-color: rgb(207, 209, 209);
    border-radius: 65px;
}

.btb{
    margin-top: 20px;
    margin-left: 50px;
}

.btb1{
    margin-left: 300px;
}